<div class="card container col-6">
    <div class="card-header">
        Add Property
    </div>
    <div class="card-body">
        <form (ngSubmit)="OnSubmit(form)" #form="ngForm">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="5">
                <span *ngIf="!propName.valid && propName.touched" class="error">
                    <span *ngIf="propName.errors?.['required']">Please provide name</span>
                    <span *ngIf="propName.errors?.['minlength']">The name should be atleast 5 letters</span>
                </span>
            </div>
            <div class="form-group">
                <label for="Type">Type</label>
                <input type="text" class="form-control" #propType="ngModel" ngModel name="Type" required>
                <span *ngIf="!propType.valid && propType.touched" class="error">
                    Please provide type
                </span>
            </div>
            <div class="form-group">
                <label for="Price">Price</label>
                <input type="number" class="form-control" #propPrice="ngModel" ngModel name="Price" required>
                <span *ngIf="!propPrice.valid && propPrice.touched" class="error">
                    Please provide price
                </span>
            </div>
            <div class="form-group text-center">
                <button [disabled]="!form.valid" type="submit" class="btn btn-primary m-2">Save</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>

</div>